<!DOCTYPE html>
<html>
<head>
  <title>Multiplication Tables</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container mt-5">
    <h1>Multiplication Table Generator</h1>
    
    <%= form_with url: tables_generate_path, method: :post, local: true do |form| %>
      <div class="form-group">
        <%= form.label :size, "Enter a number (1-12):" %>
        <%= form.number_field :size, in: 1..12, required: true, class: "form-control" %>
      </div>
      <%= form.submit "Generate", class: "btn btn-primary" %>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <% if @multiplication_table && @size.present? %>
      <h2 class="mt-5">Multiplication Table for <%= @size %></h2>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Multiplicand</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <% (1..12).each do |i| %>
            <tr>
              <td><%= @size %> x <%= i %></td>
              <td><%= @size * i %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</body>
</html>
